<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	
	
	
	<script>
      function validateform(){
        var name = document.myform.name.value;
        var password=document.myform.name.value;
        if(name == null || name==""){
            alert("Name can`t be empty");
        return false;
            }
        else if (password.length <6){
            alert("password can`t be lessthan 6 letters ");
            return false;

        }
          }

    </script>
	
	
</head>
<body style="background-color:#778899;">
 <form name ="myform" method ="post" action="hello.html" onsubmit="return validateform()">

<div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
        h4{text-align: center;}
    </style>
<div style="background-color: whitesmoke;"class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"><H4>ABCC</H4></div>





<div class="mx-auto" style="width: 200px;">
<div class="container-fluid" style = "width:200%; margin-left:-50%;margin-top:62%;">
		<div class="w-100 p-1" >
			<div style=" background-color: whitesmoke;"class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
				<div class="w-100 p-1">
					<div class="form-floating mb-3">
						<input type="email" class="form-control" id="floatingInput" name="name">
						<label for="floatingInput">Email address</label>
					</div>
				<div class="form-floating">
					<input type="password" class="form-control" id="floatingPassword" name="password">
					<label for="floatingPassword">Password</label>
				</div>
			</div>
		
		<input class="btn btn-primary" type="submit" style ="width: 139px;margin-top:5%;align-items:center;margin-left:27%;" value="Login" name="register" >
		</div>
		

</div>
<p class="text-center text mt-5 mb-0" >Don't have an account? <a href="register.html" class="fw-bold text-body"><u  style="color:#3b415d">Register here</u></a></p>
</div>

</form>
</body>
</html>